<table class="table table-bordered table-condensed table-hover" id="table-attendances">
	<tbody>
		<tr>
			<th></th>
			<th></th>
			<th>拠点番号</th>
			<th>拠点名</th>
			<th>拠点種類</th>
		</tr>
		
		<% if @bases.present? %>
  		<% @bases.each do | base | %>
    		<tr>
    			<td>修正ボタン</td>
    			<td>削除ボタン</td>
    			<td><%= base.base_number %></td>
    			<td><%= base.base_name %></td>
    			<td><%= base.base_type %></td>
    		</tr>
  		<% end %>
  	<% end %>
	</tbody>
</table>






<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">拠点情報追加</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_with model: @base_create do |form| %>
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
            <tr>
              <th><%= form.label :base_number, '拠点番号' %></th>
              <td><%= form.text_field :base_number %></td>
            </tr>
            
            <tr>
              <th><%= form.label :base_name, '拠点名' %></th>
              <td><%= form.text_field :base_name %></td>
            </tr>
            <tr>
              <th><%= form.label :base_type, '拠点タイプ' %></th>
              <td><%= form.select :base_type, [['A', 0],['B', 1],['C', 2]] %></td>
            </tr>
            <tr>
        
              <td colspan="2"><%= form.submit "新規登録" %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
