


<div class="modal-dialog modal-lg modal-dialog-center" id="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
   
   

          <% if @users.present? %>
            <%= form_with(model: @user, url: month_confirmation_update_user_attendances_path(@user.id), local: true, method: :patch) do |f| %>
            
                    <% @users.each do |key, attendances| %>
                    
                       <h2>【<%= who_name(key).to_s %> からの１ヶ月分勤怠申請】</h2>
                        <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                        	<tbody>
                        		<tr>
                        			<th>月</th>
                        			<th>指示確認印</th>
                        			<th class="active">変更</th>
                        			<th>指示確認印</th>
                        		</tr>
                        	
                        		
                                    <%= f.fields_for "attendances[]", attendances do |attendance| %>
                                        <tr> 
                                			<td><%= attendance.hidden_field :month, :value => attendances.worked_on %><%= attendances.worked_on.strftime('%-m月') %></td>
                                			<td><%= attendance.select :month_work, [['申請中', 0],['承認', 1],['否認', 2],['なし', 8]] %></td>
                                			<td class="active"><%= attendance.check_box :ok_flag %></td>
                                			<td><%= link_to '勤怠確認', new_user_attendance_path(key, format: 'work_view', day_id: attendances.worked_on), class:"btn btn-primary" %></td>
                                        </tr>
                                    <% end %> 
                                
                        	
                        	</tbody>
                        </table>
                        
                    <% end %>
                <div class="btn-center">
                  <%= f.submit "変更を送信する", class:"btn btn-primary btn-lg" %>
                </div>
            <% end %>
          <% end %>


 
   
        </div>
      </div>
    </div>
  </div>
</div>