<div class="modal-dialog modal-lg modal-dialog-center" id="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          
            
            <% if session[:error].present? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  <ul>
                      <% session[:error].each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                  </ul>
                </div>
              </div>
                  <% session[:error] = nil %>
            <% end %>
            
            <%= form_with(model: @user, url: overwork_confirm_update_user_attendances_path, local: true, method: :post) do |f| %>
           
            
            
                  <% @users.each do |key, attendances| %>
                  
                     変更 申請者：<%= who_name(key).to_s %>
                      <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                      	<tbody>
                      		<tr>
                      			<th>日付</th>
                      			<th>曜日</th>
               
                      			<th>終了予定時間</th>
                      			<th>指定勤務終了時間</th>
                      			<th>時間外時間</th>
                      			<th>業務処理内容</th>
                      			
                      			<th>指示確認印</th>
                      			<th>変更</th>
                      			<th>勤怠を確認する</th>
                      		</tr>
                      		
                      		<% attendances.each do |day| %>
                           
                            		<%= f.fields_for "attendances[]", day do |atn| %>
                            		
                            	        <% if day.after_finished_at.present? %>
                            	        <tr>
                              			<td><%= l(day.worked_on, format: :short) %></td>
                              			<td><%= $days_of_the_week[day.worked_on.wday] %></td>
                              			
                              		
                              			
                              			<td>
                              			  <% if day.tommorow_flag == "1" %>
                              			  <%= atn.hidden_field :tommorow_flag, :value => day.tommorow_flag %>
                              			    <%= "翌日" %>
                              			  <% end %>
                              			  <%= l(day.after_finished_at, format: :short2) %>
                              			</td>
                              			<td><%= l(User.find(day.user_id).designated_work_end_time, format: :short2) %></td>
                              			<td><%= zikangai(day.after_finished_at, day.user_id, day.tommorow_flag) %></td>
                              			<td><%= day.note_temporary %></td>
                              			<td><%= atn.select :request_status, [['申請中', 0],['承認', 1],['否認', 2],['なし', 8]] %></td>
                              			<td class="active"><%= atn.check_box :ok_flag %></td>
                              			<td><%= link_to '勤怠確認', new_user_attendance_path(day.user_id, format: 'work_view', day_id: day.worked_on), class:"btn btn-primary" %></td>
                              	     </tr>
                              	     <% end %>
                              	   <% end %>
                      		<% end %> 
                      	</tbody>
                      </table>
                      
                  <% end %>
                  <div class="btn-center">
                    <%= f.submit "変更を送信する", class:"btn btn-primary btn-lg" %>
                  </div>
            
            <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
