<%= form_tag(attendance_log_user_attendances_path(current_user), method: :get)  do %>
	<%= link_to 'リセットボタン', attendance_log_user_attendances_path(current_user), method: :get, class:"btn btn-primary" %>
	
	<%= date_select("worked_on_between","date",{:discard_day => true, :default => @attendance_default}, {class: "form-control bootstrap-date-only-width"}) %>
	
	<%= submit_tag "検索", class:"btn btn-primary" %>
<% end %>

<% if @attendance %>

<table class="table table-bordered table-condensed table-hover" id="table-attendances">
	<tbody>
		<tr>
			<th>日付</th>
			<th>変更前出社時間</th>
			<th>変更前退社時間</th>
			<th>変更後出社時間</th>
			<th>変更後退社時間</th>
			<th>承認者</th>
			<th>承認日</th>
		</tr>
		
		<% @attendance.each do |attendance| %>
		  <tr>
		  
  			<td><%= attendance.worked_on %></td>
  			<td><%= l(attendance.before_started_at, format: :time) if attendance.before_started_at.present? %></td>
  			
  			<% if attendance.tommorow_flag == "0" %>
  				<td><%= l(attendance.before_finished_at, format: :time) if attendance.before_finished_at.present? %></td>
  			<% elsif attendance.tommorow_flag == "1" %>

  				<td><%= over24_time_type(attendance.before_finished_at) if attendance.before_finished_at.present? %></td>
  			<% else %>
  				<td></td>
  			<% end %>
  			
  			<td><%= l(attendance.started_at, format: :time) if attendance.started_at.present?  %></td>
  			<% if attendance.tommorow == "0" %>
  				<td><%= l(attendance.finished_at, format: :time) if attendance.finished_at.present?  %></td>
  			<% elsif attendance.tommorow == "1" %>
  				<td><%= over24_time_type(attendance.finished_at) if attendance.finished_at.present? %></td>
  			<% else %>
  				<td></td>
  			<% end %>
  			
  			<td><%= who_name(attendance.who_consent) if attendance.who_consent.present? %></td>
  			<td><%= l(attendance.request_at, format: :date) if attendance.request_at.present? %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<% end %>