
  
<%= form_with(model: @user, url: update_waiting_user_attendances_path(@user.id), local: true, method: :post) do |f| %>

	<%= render 'shared/error_messages', object: @attendance %>
	<% if flash[:error].present? %>
    <ul class="errors">
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  
 	<% if flash[:error].present? %>
    <ul class="errors">
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  
	氏名：<%= @user.name %>
	
	<table class="table table-bordered table-condensed table-hover" id="table-attendances">
		<thead>
			<tr>
			  <th colspan="1">日付</th>
				<th colspan="1">曜日</th>
				<th colspan="1">出社</th>
				<th colspan="1">退社</th>
				<th colspan="1">翌日</th>
				<th colspan="1">在社時間</th>
				<th colspan="1">備考</th>
				<th colspan="1">指示者確認印</th>
			</tr>
		</thead>
		<tbody>
			<% @attendances.each do |day| %>
				<%= f.fields_for "attendances[]", day do |attendance| %>
					<% if day.only_day == 1 %>
						<% if day.request_status == 0 %>
			  			<td><%= l(day.worked_on, format: :short) %></td>
			  			<td><%= $days_of_the_week[day.worked_on.wday] %></td>
			  			<td colspan="5">
							<%= who_request_status(day.request_status, day.request_type) if day.request_status.present? %>

							<td><%= who_name(day.who_consent) if day.who_consent.present? && day.request_status %></td>

			  			
			  		<% else %>
			  			<td><%= l(day.worked_on, format: :short) %></td>
			  			<td><%= $days_of_the_week[day.worked_on.wday] %></td>
			  			<td>
			  				<% if day.worked_on > Date.current %>
				  				<% if day.request_status == 0 %>
				  					<%= attendance.datetime_select :after_started_at, { :discard_year => true,  :discard_month => true, :discard_day => true, :disabled => true, selected: day.started_at, include_blank: true, :disabled => true} %></td>
									<% else %>
										<%= attendance.datetime_select :after_started_at, { :discard_year => true,  :discard_month => true, :discard_day => true, selected: day.started_at, include_blank: true, :disabled => true} %>
									<% end %>
				  			<% else %>	
				  				<% if day.request_status == 0 %>
				  					<%= attendance.datetime_select :after_started_at, { :discard_year => true,  :discard_month => true, :discard_day => true, :disabled => true, selected: day.started_at, include_blank: true} %></td>
									<% else %>
										<%= attendance.datetime_select :after_started_at, { :discard_year => true,  :discard_month => true, :discard_day => true, selected: day.started_at, include_blank: true} %>
									<% end %>
								<% end %>
			  			<td>
			  				<% if day.worked_on > Date.current %>
			  					<%= attendance.datetime_select :after_finished_at, { :discard_year => true,  :discard_month => true, :discard_day => true , selected: day.finished_at, include_blank: true,:disabled => true} %></td>
								<% else %>
									<%= attendance.datetime_select :after_finished_at, { :discard_year => true,  :discard_month => true, :discard_day => true , selected: day.finished_at, include_blank: true} %></td>
								<% end %>
			  			<td>
			  				<% if day.worked_on > Date.current %>
					  			<% if day.tommorow == "1" %>
					  				<%= attendance.check_box :tommorow_flag, {checked: true,:disabled => true} %>
					  			<% elsif day.tommorow == "0" ||  day.tommorow == nil %>
					  				<%= attendance.check_box :tommorow_flag, {checked: false,:disabled => true} %>
					  			<% end %>
					  		<% else %>	
					  			<% if day.tommorow == "1" %>
					  				<%= attendance.check_box :tommorow_flag, {checked: true} %>
					  			<% elsif day.tommorow == "0" ||  day.tommorow == nil %>
					  				<%= attendance.check_box :tommorow_flag, {checked: false} %>
					  			<% end %>
					  		<% end %>	
			  			</td>
			  			<td></td>
			  			<td>
			  				<% if day.worked_on > Date.current %>
			  			  	<%= attendance.text_field :note_temporary, value:day.note,:disabled => true %>
			  			  <% else %>
			  			  <%= attendance.text_field :note_temporary, value:day.note %>
			  			  <% end %>
			  			</td>
			  			
			  			<td>
			  				<% if day.worked_on > Date.current %>
				  				<%= attendance.collection_select :who_consent, @select_attendance, :id, :name, {include_blank: '選択してください' }, :prompt => true,:disabled => true %> 
			  				<% else %>
			  					<%= attendance.collection_select :who_consent, @select_attendance, :id, :name, {include_blank: '選択してください' }, :prompt => true %> 
			  				<% end %>
			  			</td>
						<% end %>
					<% end %>
				<% end %>
			</tr>
	  	<% end %>
		
		
		</tbody>
	</table>
	<div class="btn-center">
		<%= f.submit "勤怠変更申請の確認画面へ移動する", class:"btn btn-primary btn-lg" %>
	  <%= link_to "キャンセル", new_user_attendance_path(current_user), class:"btn btn-primary btn-lg"  %>
	</div>
<% end %>


