<%= form_with model: @user, url:user_attendances_path(current_user), local: true do |form| %>

			
	<% @users.each do |key,attendances| %>
		
		<table class="table table-bordered table-condensed table-hover" id="table-attendances">
				<div>変更 申請者：<%= who_name(key).to_s %></div>
			<thead>
				<tr>
				<td rowspan="3">日付</td>
				<td rowspan="3">曜日</td>
				<td colspan="4">変更前</td>
				<td colspan="4">変更後</td>
				<td rowspan="3">備考</td>
				<td rowspan="3">指示者確認印</td>
				<td rowspan="3">変更</td>
				<td rowspan="3">勤怠を確認する</td>
				</tr>
				<tr>
					<td colspan="2">出社</td>
					<td colspan="2">退社</td>
					<td colspan="2">出社</td>
					<td colspan="2">退社</td>
				</tr>
				<tr>
					<td>時</td>
					<td>分</td>
					<td>時</td>
					<td>分</td>
					<td>時</td>
					<td>分</td>
					<td>時</td>
					<td>分</td>
				</tr>
			</thead>
			<tbody>
				<tr>
				<% attendances.each do |day| %>
					<%= form.fields_for "attendances[]", day do |atn| %>
						<td><%= day.worked_on %></td>
						<td><%= $days_of_the_week[day.worked_on.wday] %></td>
						<td><%= day.before_started_at.hour %></td>
						<td><%= day.before_started_at.min %></td>
						<td><%= day.before_finished_at.hour %></td>
						<td><%= day.before_finished_at.min %></td>
						<td><%= day.after_started_at.hour %></td>
						<td><%= day.after_started_at.min %></td>
						<td><%= day.after_finished_at.hour %></td>
						<td><%= day.after_finished_at.min %></td>
						<td><%= day.note %></td>
						<td><%= atn.select :request_type, [['申請中', 0],['承認', 1],['否認', 2]], {selected: 0}, {} %></td><!--  なし：nil　申請中:0　承認:1　否認:2 -->
						<td><%= atn.check_box :ok_flag %></td>
						<td>勤怠確認</td>
					<% end %>
				<% end %>
				</tr>
			</tbody>
		</table>
	<% end %>
	<%= form.submit %>
<% end %>