<% @sum = 0 %>

<table class="table table-bordered table-condensed table-hover" id="table-attendances">
	<tbody>
		<tr>
			<td rowspan="2">
				
				<% if params[:format].nil? %>
				<%= link_to "前月へ", new_user_attendance_path(date: @first_day.to_date.prev_month), class:"btn btn-primary" %>
				<% end %>
				　<%= l(@first_day, format: "%Y年%m月") %>　時間管理表　
				<% if params[:format].nil? %>
				<%= link_to "次月へ", new_user_attendance_path(date: @first_day.to_date.next_month), class:"btn btn-primary" %>
				<% end %>
				
				</td>
			<td>指定勤務開始時間：<%= l(@user.designated_work_start_time, format: "%-H:%M") %></td>
			<td colspan="3" rowspan="2">基本時間：<%= l(@user.basic_work_time, format: "%-H:%M") %></td>
			<td rowspan="2">初日：<%= @first_day %></td>
		</tr>
		<tr>
			<td>指定勤務終了時間：<%= l(@user.designated_work_end_time, format: "%-H:%M") %></td>
		</tr>
		<tr>
			<td>所属：<%= @user.affiliation %></td>
			<td>氏名：<%= @user.name %></td>
			<td>コード</td>
			<td>---</td>
			<td>出勤日数</td>
			<td>締め：<%= @first_day.end_of_month %></td>
		</tr>
	</tbody>
</table>


<% if superior_user?(current_user.id) && now_view_correct_user?(current_user.id) %>
	<div class="attendance_count_border">
		<% @month_confirm_count = month_confirm_count(current_user.id) %>
		<% if @month_confirm_count == 0 %>
			【所属長承認申請のお知らせ】
		<% else %>
			<%= link_to "【所属長承認申請のお知らせ】", month_confirmation_user_attendances_path(@user.id), remote: true, id:"attendance_red" %>
		<% end %>
		<% unless @month_confirm_count == 0 || nil %>
			<span><%= @month_confirm_count %>件の通知があります</span>
		<% end %>
	</div>
	
	<div class="attendance_count_border">
		<% @edit_count = edit_confirm_count(current_user.id) %>
		<% if @edit_count == 0 %>
			【勤怠変更申請のお知らせ】
		<% else %>
			<%= link_to "【勤怠変更申請のお知らせ】 ", edit_confirm_user_attendances_path(@user.id), remote: true, id:"attendance_red" %>
		<% end %>
		<% unless @edit_count == 0 || nil %>
			<span><%= @edit_count %>件の通知があります</span>
		<% end %>
	</div>
	
	<div class="attendance_count_border">
		<% @overwork_count = overwork_confirm_count(current_user.id) %>
		<% if @overwork_count == 0 %>
			【残業申請のお知らせ】
		<% else %>
			<%= link_to "【残業申請のお知らせ】", overwork_confirm_user_attendances_path(@user.id), remote: true, id:"attendance_red" %>
		<% end %>
		<% unless @overwork_count == 0 || nil %>
			<span><%= @overwork_count %>件の通知があります</span>
		<% end %>
	</div>
<% end %>


<div>
	<%= link_to "勤怠編集", user_attendances_edit_path(user_id: @user.id, date: @first_day), class:"btn btn-primary btn-sm" %>
</div>

<div>
	<%= link_to "勤怠ロ修正ログ(承認済)", attendance_log_user_attendances_path(current_user), class:"btn btn-primary btn-sm" %>
</div>

<div>
	<%= link_to "CSV出力", new_user_attendance_path(current_user, format: :csv), class:"btn btn-primary btn-sm" %>
</div>

<br>

	
	
<table class="table table-bordered table-condensed table-hover" id="table-attendances">
	<tbody>
		<tr>
			<% if params[:format].nil? %>
			<th rowspan="3">残業申請</th>
			<% end %>
			<th rowspan="3">日付</th>
			<th rowspan="3">曜日</th>
			<th colspan="8">【実績】</th>
			<th colspan="5">所定勤務時間</th>
		</tr>
		<tr>
			<th colspan="3">出社</th>
			<th colspan="3">退社</th>
			<th rowspan="2">在社時間</th>
			<th rowspan="2">備考</th>
			<th colspan="2">終了予定時間</th>
			<th rowspan="2">時間外時間</th>
			<th rowspan="2">業務処理内容</th>
			<th rowspan="2">指示者確認印</th>
		</tr>
		<tr>
			<th>時</th>
			<th>分</th>
			<th></th>
			<th>時</th>
			<th>分</th>
			<th></th>
			<th>時</th>
			<th>分</th>
		</tr>
		
	<% @attendances.each do |day| %>
			<% if day.only_day == 1 %>
				<% if params[:format].nil? %>
					<td>
						<% if day.request_status == 0  %>
							<%= link_to '残業申請', overwork_user_attendance_path(current_user.id,day.id), remote: true, class:"btn btn-primary disabled" %>
						<% elsif day.request_status == 2 %>
							<%= link_to '残業申請', overwork_user_attendance_path(current_user.id,day.id), remote: true, class:"btn btn-primary" %>
						<% else %>
							<%= link_to '残業申請', overwork_user_attendance_path(current_user.id,day.id), remote: true, class:"btn btn-primary" %>
						<% end %>
						</td>
				<% end %>
					<td><%= l(day.worked_on, format: :short) %></td>
					<td><%= $days_of_the_week[day.worked_on.wday] %></td>
					<td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
					<td><%= l(day.started_at, format: :minut) if day.started_at.present? %></td>
					<td>
					<% if params[:format].nil? %>	
						<% if (Date.current == day.worked_on) && day.started_at.nil? %>
						<%= link_to "出勤登録", user_attendances_path(user_id: params[:user_id], dayid: day.worked_on), method: :create %>
						<% end %>
					<% end %>
					</td>
					
					
					<% if day.finished_at.present? && day.tommorow == "0" %>
						<td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
					<% elsif day.finished_at.present? && day.tommorow == "1" %>
						<td><%= over24(day.finished_at.hour) %></td>
					<% else %>
						<td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
					<% end %>
					
					<td><%= l(day.finished_at, format: :minut) if day.finished_at.present? %></td>
					<td>
					<% if params[:format].nil? %>	
						<% if (Date.current == day.worked_on) && day.finished_at.nil? %>
						<%= link_to "退勤登録", user_attendances_path(user_id: params[:user_id], dayid: day.worked_on), method: :create %>
						<% end %>
					<% end %>
					</td>
					<td><%= zishazikan(day.started_at, day.finished_at, day.tommorow) if day.started_at.present? && day.finished_at.present? %></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
					<%= who_name(day.who_consent) if day.who_consent.present? && day.request_status %><br>
						<%= who_request_status(day.request_status, day.request_type) if day.request_status.present? %>
					<% end %>
					</td>
		</tr>

			<% if day.started_at.present? && day.finished_at.present? && day.only_day == 1 %>
			          <% @i = zaisha(day.finished_at, day.started_at).to_f %>
			          <% @sum += @i %>
			<% end %>

	<% end %>
		<tr>
		
			<% if params[:format].nil? %>
			<td></td>
			<% end %>
			<td colspan="2"></td>
			<td colspan="6"></td>
			<td><%= view_sum(@sum) %></td>
			<td colspan="5"></td>
			<td>

			<% if params[:format].nil? %>
				<% if @attendances.first.month_work == nil %>
						<%= form_with(model: @attendance_month_work, url: month_confirmation_create_user_attendances_path(user_id: params[:user_id], dayid: @first_day), local: true, method: :post) do |f| %>
							<div>所属長承認</div>
							<div><%= f.collection_select :month_work_who_consent, User.where(admin: true), :id, :name, {include_blank: '選択' }, :prompt => true %> </div>
							<div><%= f.submit "申請", class:"btn btn-primary" %></div>
						<% end %>
				<% elsif @attendances.first.month_work == 0 %>
					*申請中*
				<% elsif @attendances.first.month_work == 1 %>
					所属長承認：承認済み
				<% elsif @attendances.first.month_work == 2 %>
					所属長承認：拒否済み
				<% end %>
			<% end %>
			</td>
		</tr>
	
	</tbody>
</table>


<div id="edit-confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="month-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overwork" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overwork-confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
