<%= form_with(model: @user, url: overwork_confirm_update_user_attendances_path(@user.id), local: true, method: :post) do |f| %>

    <% @users.each do |key, attendances| %>
    
       変更 申請者：<%= who_name(key).to_s %>
        <table class="table table-bordered table-condensed table-hover" id="table-attendances">
        	<tbody>
        		<tr>
        			<th>日付</th>
        			<th>曜日</th>
        			<th>終了予定時間</th>
        			<th>業務処理内容</th>
        			<th>終了指示時間</th>
        			<th>指示確認印</th>
        		</tr>
        		
        		<% attendances.each do |day| %>
              		<%= f.fields_for "attendances[]", day do |atn| %>
              		<%= day.worked_on %>
              	        <% if day.after_finished_at.present? %>
              	        <tr>
                			<td><%= l(day.worked_on, format: :short) %></td>
                			<td><%= $days_of_the_week[day.worked_on.wday] %></td>
                			<td><%= day.finished_at %></td>
                			<td><%= day.note %></td>
                			<td><%= atn.datetime_select :after_finished_at, { :discard_year => true,  :discard_month => true, :discard_day => true , selected: day.after_finished_at, include_blank: true } %></td>
                			<td><%= atn.select :request_status, [['申請中', 0],['承認', 1],['否認', 2]] %></td>
                	     </tr>
                	     <% end %>
                	   <% end %>
        		<% end %>
        	</tbody>
        </table>
        
    <% end %>    
  <%= f.submit "変更を送信する", class:"btn btn-primary" %>
<% end %>