<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠A", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <% if current_user %>
        
        
          <li><%= link_to "勤怠一覧", new_user_attendance_path(current_user) %></li>
        <% end %>
  
        <li><%= link_to "Log in", login_path %></li>

        
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>

